// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    font-family: 'Roboto Mono', monospace;

}

body{
    background: url("/img/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    

}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item:hover{
    background-color: lightgray !important;
}

.pag{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
